<article>
  <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
  <b>
    Posted
    {{ if .Date }}
      <time>
        on {{ .Date.Format (default "2006-01-02 15:04:05" .Site.Params.dateFmt) }}
      </time>
    {{ end }}

    {{ with .Params.categories }}
      in
      {{ range first 1 . }}
        <a href="{{ "/catgeories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{- end -}}
      {{- range after 1 . -}}
        , <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
      {{- end -}}
    {{ end }}
  </b>

  {{ with .WordCount }}
    • {{ . }} words
  {{ end }}

  {{ with .ReadingTime }}
    • {{ . }} minute read
  {{ end }}

  <div>
    {{ .Summary }}
    {{ if .Truncated }}
      <a href="{{ .Permalink }}">Read more...</a>
    {{ end }}
  </div>
</article>
