<header>
  {{ strings.Repeat ( .Site.Title | len | add 6 ) "=" }}<br>
  == <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> ==<br>
  {{ strings.Repeat ( .Site.Title | len | add 6 ) "=" }}
  <div style="float: right;">{{ .Site.Params.subtitle }}</div><br>
  <p>
    <nav>
      <a href="{{ "/" | relURL }}"><b>Home</b></a>
      {{ with .Site.Menus.main }}
        {{ range . }}
          | <a href="{{ .URL | relURL }}"><b>{{ .Name }}</b></a>
        {{ end }}
      {{ end }}
    </nav>
    <hr>
  </p>
</header>
